<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="fragment-nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">상단메뉴</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/" class="nav-link active" aria-current="page"> Home </a>
          </li>
          <li>
            <a th:href="@{/api/v1/admin/members}" class="nav-link text-white">
              유저 관리
            </a>
          </li>
          <li>
            <a th:href="@{/api/v1/admin/menus}" class="nav-link text-white">
              메뉴 관리
            </a>
          </li>
          <li>
            <a th:href="@{/api/v1/admin/orders}" class="nav-link text-white">
              주문 관리
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</html>
