<!DOCTYPE html>
<html lang="ha">
<head>
    <meta charset="utf-8" />
    <title>결제하기</title>
    <!-- 토스페이먼츠 결제창 SDK 추가 -->
    <script src="https://js.tosspayments.com/v1/payment"></script>
</head>
<body>
<script>
    // ------ 클라이언트 키로 객체 초기화 ------
    var clientKey = 'test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq'
    var tossPayments = TossPayments(clientKey)

    fetch("/api/v1/payments/toss", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            memberIdx : 1,
            payType: "card",
            amount : 1000,
        })
    })
        .then((response) => {
            return response.json();
        })
        .then((json) => {
            let orderId = json.orderId;
            tossPayments
                .requestPayment('카드', {
                    amount: 1000, // 결제 금액
                    orderName: '맥도날드',
                    orderId: orderId,
                    memberIdx: 1,
                    successUrl: 'http://localhost:8080/api/v1/payments/toss/success',
                    failUrl: 'http://localhost:8080/api/v1/payments/toss/fail'
                })
                .catch(function (error) {
                // /toss 요청이 실패한 경우
                if (error.code === 'USER_CANCEL') {
                    // 결제 고객이 결제창을 닫았을 때 에러 처리
                } else if (error.code === 'INVALID_CARD_COMPANY') {
                    // 유효하지 않은 카드 코드에 대한 에러 처리
                }
            });
        })

</script>
</body>
</html>